%p#notice= notice

%table
  %tr
    %th Title
    %th Body

  %tr
    %td= @template.title
    %td= @template.replace_body_attributes(@user).html_safe

= link_to 'Edit', edit_template_path(@template)
\|
= link_to 'Back', templates_path