= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this admin from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  - else
    %div
      = f.label :first_name, "First Name"
      = f.text_field :first_name, :autofocus => true, :size => 40

    %div
      = f.label :last_name, "Last Name"
      = f.text_field :last_name, :autofocus => true, :size => 40

    %div
      = f.label :login, "Email"
      = f.text_field :email, :autofocus => true, :size => 40

    %div
      = f.label :password
      = f.password_field :password, :size => 40
  .actions
    = f.submit 'Save'