%h1 Listing Users

%table
  %tr
    %th Full Name
    %th Email
    %th

  - @users.each do |user|
    %tr
      %td= "#{user.first_name} #{user.last_name}"
      %td= user.email
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Create New User', new_user_path
|
= link_to 'Go back to Dashboard', root_path